
.konva{
  width: 80% ;
  overflow: hidden;

  padding: 4rem;
  display: flex;
  flex-direction: row;
  flex : 5;

}
.controllers {
  flex : 1;
}
.canvas{
  flex: 3;
  width : 200px ;
  height :300px ;
}

